
/* Your CSS Code here. */
div.holder{
	display : flex;
	justify-content : space-between;
	flex-wrap : wrap;
}
.one, .two, .three{
	padding: 0px 20px 20px 0px;
}
.one{
	order : 2;
	background-color : red;
}
.two{
	order : 3;
	background-color : blue;
}
.three{
	order : 1;
	background-color : green;
}